body{
    margin-bottom: 50px;
}
.b-left{
    color: black;
}
.layer{
    display:grid !important;
   grid-template-columns:1fr 350px !important;
}
.b-photo{
    width:100%
}
.imm{
    width:100%;
}
.bottom{
   display: grid;
   grid-template-columns: 1fr;
    width: 100%;
   margin:0px 20px 0px 0px !important;
   background-color:white;
   padding:0px 0px 0px 0px !important;
   height: 100%;
   

}
.sentence{
    margin-top:130px;
    font-size: 25px;
    margin-left:20px;
    color:black;
}
.second{
    display:grid !important;
   grid-template-columns:100px 1fr 1fr !important ;
   margin-top:25px;
   column-gap: 10px;
   overflow: hidden;
   
}
.row2{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.row21,.row31{
    margin-top:0px;
    margin-bottom:10px;
    font-size:22px;
}
.row22{
    margin-top:0px;
    margin-bottom:0px;
    font-size:22px;
}
.row66{
    display: flex !important;
    flex-direction: row !important;
  
}
.row24,.row26,.row25{
    margin-right:10px;
}
.row26,.row25{
    color:blue;
    cursor: pointer;
}
.row36,.row37{
    margin-top:0px;
    margin-bottom:0px;
    
}
.row35{
    margin-bottom:15px;
}
.row33{
    display: grid;
    grid-template-rows:1fr;
    row-gap: 20px;
    padding-bottom: 20px;
}
.grp{
    height:20px;
    font-size: 18px;

}
.selector1{
    margin-top:10px;
    margin-bottom:45px;
}
.content{
    display:grid;
    grid-template-columns: 1fr 350px;
}

.last{
    display:grid;
    grid-template-rows:1fr ;
    row-gap:15px;
    margin-left:15px;
    margin-right:25px;
    color:black;
    height:280px;
}

.b-left{
    padding: 10px 10px 10px 15px;
    
    border-color:black;
    border-width: 1px;
    border-style:solid;
    display: flex;
    flex-direction: column;
    overflow-y: hidden !important;
    height:93%;
}
.first{
    font-size: 20px;
    color:blue;
}

.last{
    border-color:black;
    border-width: 1px;
    border-style: solid;
    margin-right: 15px;
    font-size: 20px;
    padding-bottom: 15px;

}
.last2{
    display:grid;
    grid-template-columns: 1fr 100px;
    color:black;
}
.last3,.last1{
    margin-left:15px;
}
.last12{
    text-align: right;
    margin-right:15px;
}
.l-button{
    height:40px;
    width:300px;
    margin-left:15px;
    border-radius: 10px;
    background-color: rgb(234, 188, 21) !important;
    font-size: 15px;
}
.last5,.last1{
    font-size:22px;
}
.layer{
    padding-bottom: 50px;
}
.select1{
    height:20px;
    width:35px;
}