.layer{
    display:grid ;
   grid-template-columns:1fr 450px;
   column-gap: 20px;
   width:100%;
}
.bottom{
   display: grid;
   grid-template-columns: 1fr;
    width: 100%;
   margin:0px 0px 0px 10px;
   background-color:white;
   padding:0px 10px 0px 0px !important;

}